.vscode/**
.vscode-test/**
out/**
examples/**
node_modules/**
src/**
.gitignore
.yarnrc
build.js
biome.json
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
